* {
  margin: 0;
  padding: 0;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.App {
  width:100%;
  height:100vh;
}

video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.content {
  position:absolute;
  width:100%;
  height:100%;
  top:0;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}

.overlay {
  position:absolute;
  width:100%;
  height:100%;
  top:0;
  left: 0;
  background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0.5) 100%);
}


.get-started-btn {
  width: 10em;
  height: 3em;
  border-radius: 0.25em;
  background-color: rgb(221, 109, 109);
  display:flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
  cursor: pointer;
}

.get-started-btn:hover {
  transform: scale(1.1);
}